numpy==1.26.4
scipy==1.15.3
scikit-learn==1.7.2
matplotlib==3.3.4
pillow>=10.0.0
pyyaml==6.0.2
tqdm==4.67.1
einops==0.8.1
einx==0.3.0
timm==1.0.19
transformers==4.31.0
sentencepiece==0.2.1
safetensors==0.6.2
tensorboard==2.20.0
opencv-python==4.7.0.72
seaborn==0.13.2
pandas==2.3.2
ftfy==6.3.1
regex==2025.7.34
